{% block block %}
	{% set children = [] %}
	{% for childBlock in block.children if cmf_is_published(childBlock) %}
	    {% set children = children|merge([childBlock]) %}
	{% endfor %}

    {% for childBlock in children %}
        {% if settings.divisible_by and loop.first %}
            {# start row #}
            <div{% if settings.divisible_class %} class="{{ settings.divisible_class }}"{% endif %}>
        {% endif %}

        {% if settings.divisible_by and settings.child_class %}
            {# start child #}
            <div class="{{ settings.child_class }}">
        {% endif %}
        {{ sonata_block_render(childBlock) }}
        {% if settings.divisible_by and settings.child_class %}
            </div>{# end child #}
        {% endif %}

        {% if settings.divisible_by %}
            {% if loop.index is divisible by(settings.divisible_by) %}
                </div>{# end row #}
                {% if not loop.last %}
                    {# start row #}
                    <div class="{{ settings.divisible_class }}">
                {% endif %}
            {% elseif loop.last %}
                </div>{# end row #}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
