{% extends sonata_block.templates.block_base %}


{% block block %}
    <div>
        {% if block.url or block.route %}
            <a href="{{ block.url is not null ? block.url : path(block.route) }}">
        {% endif %}

        {% if block.image%}<div class="unit-image"><img src="{{ asset(block.image) }}"></div>{% endif %}
        <h3>{{ block.title }}</h3>
        <div>{{ block.text }}</div>

        {% if block.url or block.route %}
            </a>
        {% endif %}
    </div>
{% endblock %}